---
import React from 'react';
import'../base.css';
import Layout from '../layouts/Layout.astro';
import Page1 from './Page1.jsx';
import Page2 from './Page2.jsx';
import Page3 from './Page3.jsx';
import Page4 from './Page4.jsx';
---

<Layout>
  <div class="full-page">
    <Page1 />
    <Page2 />
	  <Page3 />
    <Page4 />
  </div>
</Layout>

<style>
  .full-page {
    height: 100vh; /* Ensure the container takes full viewport height */
    width: 100vw; /* Ensure the container takes full viewport width */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Show vertical scrollbar when needed */
  }
</style>
