---
import React from 'react';
import'../base.css';
import Layout from '../layouts/Layout.astro';
import Page1 from './Page1.jsx';
import Page2 from './Page2.jsx';
import Page3 from './Page3.jsx';
---

<Layout>
  <div class="full-page">
    <Page1 />
    <Page2 />
	<Page3 />
  </div>
</Layout>

<style>
  .full-page {
    height: 100vh; /* Ensure the container takes full viewport height */
    overflow-y:auto; /* Prevent individual scrollbars */
	overflow-x:hidden;
  }
</style>
